import 'package:riverpod_annotation/riverpod_annotation.dart';

part '{{feature_name}}_controller.g.dart';

/// Controller for {{feature_name_title}} feature
@riverpod
class {{feature_name_pascal}}Controller extends _${{feature_name_pascal}}Controller {
  @override
  FutureOr<void> build() {
    // TODO: Initialize state
  }
}
