import 'package:flutter/material.dart';
import 'package:flutter_riverpod/flutter_riverpod.dart';

/// Page for {{feature_name_title}} feature
class {{feature_name_pascal}}Page extends ConsumerWidget {
  const {{feature_name_pascal}}Page({super.key});

  @override
  Widget build(BuildContext context, WidgetRef ref) {
    // TODO: Build UI
    return const Scaffold(
      body: Center(child: Text('{{feature_name_title}}')),
    );
  }
}
