import 'package:freezed_annotation/freezed_annotation.dart';

part '{{feature_name}}.freezed.dart';

/// {{feature_name_pascal}} entity
@freezed
abstract class {{feature_name_pascal}} with _${{feature_name_pascal}} {
  const factory {{feature_name_pascal}}({
    // TODO: Add fields
  }) = _{{feature_name_pascal}};
}
