import 'package:dio/dio.dart';

/// Remote datasource for {{feature_name_pascal}} API operations
class {{feature_name_pascal}}Datasource {
  const {{feature_name_pascal}}Datasource(this._dio);

  final Dio _dio;

  // TODO: Add API methods
}
